<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>63F60794-BB56-4415-9372-BAF974C3A7E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2D6A61A5-218E-4D8C-ABFC-EA9DB6478DA8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>David Ferguson</string>
	<key>description</key>
	<string>Google Autocomplete Searches</string>
	<key>name</key>
	<string>Google Auto Complete</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<true/>
				<key>url</key>
				<string>http://www.google.com/webhp?q={query}#hl=en&amp;safe=off&amp;tbo=d&amp;output=search&amp;sclient=psy-ab&amp;q={query}&amp;oq={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>2D6A61A5-218E-4D8C-ABFC-EA9DB6478DA8</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>g</string>
				<key>script</key>
				<string>php -f suggest.php -- "{query}"</string>
				<key>subtext</key>
				<string>Search Google with Suggestions</string>
				<key>title</key>
				<string>Search Google</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>63F60794-BB56-4415-9372-BAF974C3A7E1</string>
		</dict>
	</array>
	<key>uidata</key>
	<dict>
		<key>2D6A61A5-218E-4D8C-ABFC-EA9DB6478DA8</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>63F60794-BB56-4415-9372-BAF974C3A7E1</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>jdfwarrior.tumblr.com</string>
</dict>
</plist>
