<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>4452125E-D8AB-48FE-9070-429BE5FDDF04</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>25E46E1A-D5CD-4851-BF71-AE4F17E45B9B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>Skip to the next track in iTunes</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Next track from hotkey</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>124</integer>
				<key>hotmod</key>
				<integer>11796480</integer>
				<key>hotstring</key>
				<string>→</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4452125E-D8AB-48FE-9070-429BE5FDDF04</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>command</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.itunescommand</string>
			<key>uid</key>
			<string>25E46E1A-D5CD-4851-BF71-AE4F17E45B9B</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>25E46E1A-D5CD-4851-BF71-AE4F17E45B9B</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>4452125E-D8AB-48FE-9070-429BE5FDDF04</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
